In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
data = pd.read_csv("/Users/tjscanlan/Personal_Projects/NBA_ML_Project_Python/RawData/Advanced.csv")
data.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,6.9,17.4,0.4,0.3,0.7,0.133,0.5,-0.5,0.0,0.1
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,3.5,20.4,0.1,0.0,0.1,0.091,-0.7,-2.0,-2.7,0.0
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,0.0,21.3,0.0,0.0,0.0,0.380,-2.3,7.6,5.4,0.0
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,3.7,20.3,0.1,0.0,0.1,0.081,-0.6,-2.4,-3.0,0.0
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,10.7,21.6,3.8,1.6,5.5,0.176,3.2,-0.3,3.0,1.8

In [3]:
for col in data.columns:
    print(col)

seas_id
season
player_id
player
birth_year
pos
age
experience
lg
tm
g
mp
per
ts_percent
x3p_ar
f_tr
orb_percent
drb_percent
trb_percent
ast_percent
stl_percent
blk_percent
tov_percent
usg_percent
ows
dws
ws
ws_48
obpm
dbpm
bpm
vorp

In [4]:
data.describe()

,seas_id,season,player_id,birth_year,age,experience,g,mp,per,ts_percent,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
count,31059.000000,31059.000000,31059.000000,2868.000000,31037.000000,31059.000000,31059.000000,29976.000000,29959.000000,30930.000000,...,25327.000000,25419.000000,31048.000000,31048.000000,31048.000000,29959.000000,25412.000000,25412.000000,25412.000000,25412.000000
mean,15530.000000,1994.295084,2598.930101,1944.100418,26.493572,4.953250,48.828745,1165.860855,12.482840,0.495163,...,14.745067,18.850466,1.200132,1.175103,2.376391,0.065688,-1.676314,-0.225425,-1.901920,0.545026
std,8966.105342,20.148766,1276.364495,15.094113,3.830950,3.712077,26.603588,928.395944,6.272005,0.102310,...,6.998780,5.484476,2.073223,1.235228,2.973300,0.104520,7.400265,1.828237,7.957484,1.257208
min,1.000000,1947.000000,1.000000,1914.000000,18.000000,1.000000,1.000000,0.000000,-90.600000,0.000000,...,0.000000,0.000000,-5.100000,-1.000000,-2.800000,-2.519000,-1000.000000,-31.100000,-1000.000000,-2.600000
25%,7765.500000,1979.000000,1597.000000,1938.000000,24.000000,2.000000,25.000000,313.000000,9.700000,0.457000,...,11.000000,15.300000,-0.100000,0.200000,0.200000,0.031000,-3.300000,-1.000000,-3.600000,-0.100000
50%,15530.000000,1997.000000,2688.000000,1946.000000,26.000000,4.000000,54.000000,995.000000,12.700000,0.508000,...,13.900000,18.500000,0.400000,0.800000,1.300000,0.076000,-1.400000,-0.200000,-1.500000,0.100000
75%,23294.500000,2011.000000,3637.000000,1951.000000,29.000000,7.000000,74.000000,1891.000000,15.600000,0.549000,...,17.400000,22.100000,1.900000,1.700000,3.600000,0.115000,0.300000,0.600000,0.400000,0.800000
max,31059.000000,2023.000000,5100.000000,2002.000000,46.000000,22.000000,90.000000,3882.000000,133.800000,1.500000,...,100.000000,100.000000,18.300000,16.000000,25.400000,2.712000,199.400000,60.700000,242.200000,12.500000