In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
rankings = pd.read_csv('/Users/tjscanlan/Personal_Projects/nba_rankings_2014-2020.csv')
playerData = pd.read_csv('/Users/tjscanlan/Personal_Projects/player_data.csv')
playerData.rename(columns = {'name':'PLAYER'}, inplace=True)

In [3]:
rankings.head()

,PLAYER,TEAM,AGE,SEASON,GP,W,L,MIN,PTS,FGM,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,rankings
0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,5.4,...,3.7,1.6,0.8,0.6,2.0,31.9,20,1,-1.1,80
1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,3.5,...,3.4,1.3,0.8,0.2,1.8,19.3,3,0,1.7,76
2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,2.2,...,0.7,0.8,0.4,0.4,1.4,11.1,0,0,-1.5,71
3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,1.1,...,0.4,0.2,0.4,0.0,1.5,5.5,0,0,4.5,68
4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,1.1,...,0.5,0.2,0.2,0.1,1.5,6.3,0,0,-1.7,71

In [4]:
playerData['year_start'] = playerData['year_start'].astype('int')
playerData['year_end'] = playerData['year_end'].astype('int')
playerData.head()

,PLAYER,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [8]:
rankings[["GP", "MIN", "AGE"]].describe()
rankings.groupby("TEAM")["PTS"].mean()
rankings.groupby("SEASON")["PTS"].mean()
rankings.groupby(["TEAM", "SEASON"])["PTS"].mean()

TEAM  SEASON
ATL   2014-15     9.725000
      2015-16     9.516667
      2016-17     8.985714
      2017-18     8.669231
      2018-19    10.727273
                   ...
WAS   2015-16    10.025000
      2016-17     8.940000
      2017-18     9.530769
      2018-19    12.181818
      2019-20     8.390000
Name: PTS, Length: 180, dtype: float64

In [6]:
rankingsPlayers = rankings.merge(playerData, how='left', on='PLAYER')
#rankingsPlayers['year_start'] = rankingsPlayers['year_start'].astype('str')
#rankingsPlayers['year_end'] = rankingsPlayers['year_end'].astype('str')
rankingsPlayers.groupby('SEASON')
rankingsPlayers.head()

,PLAYER,TEAM,AGE,SEASON,GP,W,L,MIN,PTS,FGM,...,TD3,+/-,rankings,year_start,year_end,position,height,weight,birth_date,college
0,Aaron Gordon,ORL,24,2019-20,62,30,32,32.5,14.4,5.4,...,1,-1.1,80,2015.0,2018.0,F,6-9,220.0,"September 16, 1995",University of Arizona
1,Aaron Holiday,IND,23,2019-20,66,42,24,24.5,9.5,3.5,...,0,1.7,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdel Nader,OKC,26,2019-20,55,37,18,15.8,6.3,2.2,...,0,-1.5,71,2018.0,2018.0,F,6-6,230.0,"September 25, 1993",Iowa State University
3,Adam Mokoka,CHI,21,2019-20,11,3,8,10.2,2.9,1.1,...,0,4.5,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Admiral Schofield,WAS,23,2019-20,33,9,24,11.2,3.0,1.1,...,0,-1.7,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN